.TrendingNews {
	margin: 0px var(--site-margin);

	h2 {
		font-weight: 400;
	}

	.NewsList {
		display: flex;
		gap: 1rem;

		.TopNews {
			flex-basis: 40%;
		}

		.OtherNews {
			flex-basis: 60%;
			display: flex;
			flex-flow: row wrap;
			gap: 1rem;

			.TrendingNewsCard {
				flex-basis: calc(50% - 1rem);
			}
		}
	}
}
