.StayConnectedCard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary-color);
	color: white;
	padding: 5px 20px;
	border-radius: 10px;

	.Icon {
		/* background-color: white; */
		align-content: center;
		position: relative;

		.MediaIcon {
			background-color: white;
			position: relative;
			bottom: -4px;
			padding: 0px 2px;
			border-radius: 2px;
			width: 2.5rem;
			height: 2rem;
		}
	}
	.ButtonWrapper {
		background-color: white;
		color: black;
		border-radius: 5px;
		p {
			padding: 0px 20px;
		}
	}
	/* 
	.Followers {
	} */
}
