.filter-page {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	.Body {
		.main-content {
			border-top: 1px solid var(--deem-black);
			padding: 0px var(--site-margin);
			display: flex;
			gap: 4rem;

			.left-section {
				flex-basis: 70%;
				border-right: 1px solid var(--deem-black);
				padding-right: 2rem;
				padding-top: 2rem;
				padding-bottom: 3rem;
			}

			.right-section {
				flex-basis: 30%;
				padding-top: 2rem;
				padding-bottom: 3rem;
			}
		}
	}
}
