.AboutUsDescription {
	margin: 0px var(--site-margin);
	margin-top: 2rem;
	display: flex;
	gap: 3rem;

	.LeftSection {
		flex-basis: 30%;
		align-content: center;
		p {
			font-size: var(--h3);
			color: var(--primary-color);
		}
	}

	.RightSection {
		flex-basis: 70%;

		header {
			h2 {
				margin: 0px;
				text-align: center;
				margin-bottom: 1rem;
				font-weight: 400;
			}
		}

		p {
			&:first-of-type {
				margin-bottom: 1rem;
			}
		}
	}
}
