.StayConnected {
	display: flex;
	flex-direction: column;
	gap: 10px;

	header {
		h4 {
			margin: 0px;
			text-align: right;
			text-transform: capitalize;
			font-weight: 400;
			font-size: var(--h5);
		}
	}
}
