.Entertainment {
	padding: 0px var(--site-margin);
	.Body {
		display: flex;
		gap: 20px;
		.LeftSide {
			flex-basis: 75%;
			background-color: var(--secondary-color);
			.Body {
				color: white;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 20px 10px;
				.MainContent {
					display: flex;
					flex-direction: column;
					gap: 2rem;
					.Category {
						width: fit-content;
						padding: 5px 10px;
						background-color: var(--primary-color);
						font-weight: 400;
						border-radius: 4px;
						border: 1px solid rgba(255, 255, 255, 0.336);
					}
					.Header {
						margin: 0px;
						font-weight: 400;
					}
				}
				.Author {
					position: relative;
					display: flex;
					width: fit-content;
					gap: 3px;
					.HL {
						width: 1.5rem;
						bottom: -10px;
						position: relative;
						border-top: 1px solid rgba(255, 255, 255, 0.829);
					}
				}
			}
		}
		.RightSide {
			flex-basis: 25%;
			background-color: var(--secondary-color);
			color: white;
			.Body {
				display: flex;
				flex-direction: column;
				padding: 20px 10px;

				.MainContent {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					.Header {
						margin: 0px;
						font-weight: 400;
					}
				}

				.Author {
					position: relative;
					display: flex;
					width: fit-content;
					gap: 3px;
					.HL {
						width: 1.5rem;
						bottom: -10px;
						position: relative;
						border-top: 1px solid rgba(255, 255, 255, 0.829);
					}
				}
			}
		}
	}
}
