.TrendingNewsCard {
	cursor: pointer;
	margin: 0px;
	border-radius: 20px;

	&[data-type="overlay"] {
		display: grid;
		grid-template-areas: "a";

		.ImageWrapper {
			grid-area: a;

			img {
				height: 100%;
			}
		}

		figcaption {
			grid-area: a;
			display: flex;
			flex-direction: column;
			.Content {
				flex-basis: 50%;
				color: white;
				padding: 20px;
				align-content: end;
				background-color: rgba(255, 255, 255, 0.151);

				.Tag {
					margin-bottom: 0.5rem;
					span {
						padding: 10px;
						background-color: var(--primary-color);
						text-transform: capitalize;
					}
				}

				article {
					font-weight: 500;
				}

				.Time {
					display: none;
				}
			}
			.Placeholder {
				flex-basis: 50%;
			}
		}
	}

	&[data-type="row-alignment"] {
		display: flex;
		gap: 30px;

		.ImageWrapper {
			flex-basis: 40%;
		}

		figcaption {
			flex-basis: 60%;
			.Content {
				display: flex;
				flex-direction: column;
				gap: 20px;

				.Tag {
					font-size: var(--h4);
					text-transform: capitalize;
					font-weight: 400;
				}

				.Time {
					font-weight: 400;
				}
			}
		}
	}
}
