.right-section {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	text-align: center;
	h4 {
		margin: 0px;
		text-transform: capitalize;
		font-weight: 400;
	}
	.right-side-card {
		.Content {
			h3 {
				font-size: var(--h4);
				margin: 0px;
			}

			.Link {
				text-decoration: underline;
			}
		}
	}
}
