.Base {
	background-color: var(--secondary-color);
	text-align: center;
	color: white;
	border-top: 1px solid white;
	padding: 20px;
	display: flex;
	flex-direction: column;

	p {
		&:first-of-type {
			position: relative;
			span {
				position: relative;
				top: -5px;
				right: 5px;
			}
		}
	}
}
