.TrendingNewsCard {
	margin: 0px;
	display: grid;
	grid-template-areas: "a";
	border-radius: 20px;

	.ImageWrapper {
		grid-area: a;

		img {
			height: 100%;
		}
	}

	figcaption {
		grid-area: a;
		display: flex;
		flex-direction: column;
		.Content {
			flex-basis: 50%;
			color: white;
			padding: 20px;
			align-content: end;
			background-color: rgba(255, 255, 255, 0.151);

			.Tag {
				margin-bottom: 0.5rem;
				span {
					padding: 10px;
					background-color: var(--primary-color);
					text-transform: capitalize;
				}
			}

			article {
				font-weight: 500;
			}
		}
		.Placeholder {
			flex-basis: 50%;
		}
	}
}
